.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container full height */
    margin: 0; /* Remove default margin */
}

.box1 {
    border: 2px solid;
    height: 200px;
    width: 200px;
    background-color: aqua;
}
